<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Html.Raw(Model.Blog.Title)</title>
<meta name="description" content="@Html.Raw(Model.Blog.Description)">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/themes/materialize/plugins/materialize/materialize.min.css" rel="stylesheet" />
@*<link href="~/themes/materialize/plugins/fontawesome/all.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="~/themes/materialize/css/style.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/lib/img/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
