<header>
    <nav class="teal" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo font-pacifico valign-wrapper">
                <img id="pw-logo-desktop" class="responsive-img hide-on-med-and-down" src="~/@Model.Blog.Logo" alt="@Model.Blog.Title" />
                Parks and Wils
            </a>
            <img id="pw-logo-tablet" class="responsive-img hide-on-large-only right" src="~/@Model.Blog.Logo" alt="@Model.Blog.Title" />
            <ul class="right hide-on-med-and-down ">
                <li>
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="AboutUs">About Us</a>
                </li>
                <li>
                    <a href="Gallary">Gallery</a>
                </li>
                @*<li>
                    <a href="#">Contact</a>
                </li>*@
            </ul>

            <div id="nav-mobile" class="sidenav blue-grey white-text">
                <ul>
                    <li>
                        <a class="sidenav-close" href="#!">
                            <i class="material-icons white-text">close</i>
                        </a>
                    </li>
                    <li>
                        <a href="~/">Home</a>
                    </li>
                    <li>
                        <a href="AboutUs">About Us</a>
                    </li>
                    <li>
                        <a href="Gallary">Gallery</a>
                    </li>
                    @*<li>
                        <a href="#">Contact</a>
                    </li>*@
                </ul>
                <div class="row">
                    <div class="s12 m4 l8">
                        <img id="pw-logo-mobile" class="responsive-img hide-on-large-only" src="~/@Model.Blog.Logo" alt="@Model.Blog.Title" />
                    </div>
                </div>
            </div>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>