@model bool
@if (Model)
{
    <div style="padding-top: 16px;">
        <div class="container" style="border-top: 1px solid white;">
            <span class="to-top-wrapper"><a href="#top" class="to-top"><i class="material-icons cyan-text text-darken-1" style="font-size: 46px;">expand_less</i></a></span>
        </div>
    </div>
}
else
{
    <div style="padding-top: 16px;">
        <div class="container" style="border-top: 1px solid #00acc1;">
            <span class="to-top-wrapper to-top-wrapper-alt"><a href="#top" class="to-top"><i class="material-icons white-text" style="font-size: 46px;">expand_less</i></a></span>
        </div>
    </div>
}

