@model PostModel
@{ 
    var topSectionWhite = true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main id="home-content">

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/canoeBanff.JPG" />
            </div>
        </div>

        <div class="section white">
            <div class="row container center-align">
                <div class="wp1">
                    <h4 class="font-shadows-into-light">ADVENTURE</h4>
                    <h5 class="grey-text text-darken-3 lighten-3 font-amatic">This is a story about walking away from societal expectations and chasing dreams.  </h5>
                </div>
                <div class="wp2 col s6 m6 l6">
                    <img class="responsive-img circle" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/Jess.jpg" />
                    <p class="flow-text font-major-mono">JWiLs</p>
                </div>
                <div class="wp3 col s6 m6 l6">
                    <img class="responsive-img circle" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/Parker.jpg" />
                    <p class="flow-text font-major-mono">PaRKs</p>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/van6.JPG" />
            </div>
        </div>

        <div class="section container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <p class="wp6 white-text font-raleway">
                        @*<img class="responsive-img circle" style="float: left; max-height: 150px;" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/AboutUs/GaperDayAbasin2018.jpg" loading="lazy" />*@
                        Parker and I grew up in Murfreesboro, TN and have known each other since at least 2nd grade.
                        As we got older we did our own thing, attending different colleges and doing quite a bit of our own traveling.
                        Parker moved out to Denver, Colorado after graduating college in 2014 to enjoy all things the mountain life offered.
                        I lived in Nashville for a few years until I started travel nursing where I lived all over the United States before taking an assignment in Denver.
                        We reunited over a mutual passion for winter sports, though Parker, being a snowboarder, jokes that he never thought his favorite person to go to the mountains with would be a skier.
                        We got to know each other again after numerous car rides sitting in traffic on I-70 coming to and from the mountains.
                        It took us awhile to finally make the jump across the friend zone and it was actually before Parker and I were even dating that he said to me,
                    </p>
                    <blockquote class="wp7 white-text font-shadows-into-light pw-h5">“Let’s just quit our jobs and live in a van.”</blockquote>
                    @*<p class="white-text font-raleway">
                    I laugh and say, “Let’s do it,” thinking this is all a purely hypothetical plan.
                </p>*@
                    <div class="wp8 row">
                        <div class="col s12 m12 l12" style="padding-bottom: 12px;">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/AboutUs/ParkerAndJesWhistlerHighFive.jpg" loading="lazy" />
                        </div>
                        <div class="col s6 m6 l6">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/AboutUs/JesAbasinSnorkelNoseCropped.jpg" loading="lazy" />
                        </div>
                        <div class="col s6 m6 l6">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/AboutUs/ParkerTellurideMethodGrabCropped.jpg" loading="lazy" />
                        </div>
                    </div>
                    <p class="wp9 white-text font-raleway">
                        In January of 2019 we bought a RAM Promaster Van and turned it into our home on wheels.
                        In June we took three months off work, packed up our apartment in Denver, and headed north.
                        We explored Grand Teton, Yellowstone, and Glacier National Parks before crossing the border into Canada.
                        There we spent time in Banff and Jasper before starting our journey along the Alaska Highway.
                        We fell in love with Alaska, its midnight sunsets, and its wilderness.
                        When it was time to start heading back south, we took the Cassiar Highway to Whistler.
                        We ferried the van to Vancouver Island and then across the border into Washington where we spent the next few weeks exploring all the beautiful national parks the PNW has to offer.
                        Lake Tahoe was our next stop. We could have stayed forever but wakeboarding at Lake Powell was calling our name.
                        After a week of fun on the lake we took our time exploring the far corners of our own state, Colorado.
                    </p>
                    <blockquote class="wp10 white-text font-shadows-into-light pw-h5 ">
                        In three months we drove 15,000 miles, visited 17 National Parks in 2 countries, 11 states, and 3 territories, and made invaluable memories together.
                    </blockquote>
                    <p class="wp11 white-text font-raleway">
                        This winter we'll be chasing powder and traveling through mountain towns.
                        We winterized our van with the addition of an Espar Heater and Blizzak snow tires.
                        We’ll be skiing and snowboarding on mountains in Colorado, Montana, Wyoming, Utah, California, Washington, Idaho, and Canada!
                        We hope to see you on the slopes!
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />
            </div>
        </div>

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
    <script src="~/themes/materialize/plugins/lightgallary/js/lightgallery.js"></script>
    <script src="~/themes/materialize/plugins/lightgallary/js/lg-fullscreen.js"></script>
    <script src="~/themes/materialize//plugins/lightgallary/js/lg-thumbnail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#home-content img').each(function () {
                var datasrc = $(this).attr('data-src');
                if (typeof datasrc === 'undefined'){
                    $(this).attr('data-src', $(this).attr('src'));
                }
            });

            $("#home-content").lightGallery({
                thumbnail: false,
                keyPress: false,
                selector: 'img',
                controls: false,
                getCaptionFromTitleOrAlt: false,
                enableDrag: false,
                enableSwipe: false,
                counter: false
            });
        });
    </script>
</body>
</html>