@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="~/themes/materialize/images/canoeBanff.JPG" />
            </div>
        </div>

        <div class="section white">
            <div class="row container center-align">
                <h4 class="font-marker">ADVENTURE</h4>
                <h5 class="grey-text text-darken-3 lighten-3 font-amatic">This is a story about walking away from societal expectations and chasing dreams.  </h5>
                <div class="col s12 m6 l6">
                    <img class="responsive-img circle" src="~/themes/materialize/images/Jess.jpg" />
                    <p class="flow-text font-major-mono">JWiLs</p>
                </div>
                <div class="col s12 m6 l6">
                    <img class="responsive-img circle" src="~/themes/materialize/images/Parker.jpg" />
                    <p class="flow-text font-major-mono">PaRKs</p>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="~/themes/materialize/images/van6.JPG" />
            </div>
        </div>

        <div class="section container">
            <div class="row">
                <div class="s12 m4 l8">
                    <p class="white-text">
                        Parker and I grew up in Murfreesboro, TN and have known each other since at least 2nd grade.
                        As we got older we did our own thing, attending different colleges and doing quite a bit of our own traveling.
                        Parker moved out to Denver, Colorado after graduating college in 2014 to enjoy all things the mountain life offered.
                        I lived in Nashville for a few years until I started travel nursing where I lived all over the United States before taking an assignment in Denver.
                        We reunited over a mutual passion for winter sports, though Parker, being a snowboarder, jokes that he never thought his favorite person to go to the mountains with would be a skier.
                        We got to know each other again after numerous car rides sitting in traffic on I-70 coming to and from the mountains.
                        It took us awhile to finally make the jump across the friend zone and it was actually before Parker and I were even dating that he said to me,
                    </p>
                    <blockquote class="white-text">“Let’s just quit of jobs and live in a van.”</blockquote>
                    <p class="white-text">
                        I laugh and say, “Let’s do it,” thinking this is all a purely hypothetical plan. Here we are a little over a year later ready for our next adventure.
                    </p>
                </div>
            </div>
        </div>

        @*<div class="section">
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
                <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
                <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
                <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
                <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
            </div>
        </div>*@

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>