@model GalleriesModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
    <link type="text/css" rel="stylesheet" href="~/themes/materialize/plugins/lightgallary/css/lightgallery.css" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-amatic white-text">Our Collections</h4>
                </div>
            </div>
            <div class="row">
                @foreach (Gallery gallery in Model.Galleries)
                {
                <div class="col s12 m4 l4" style="margin-top: 1em;">
                    <a title="@gallery.Title" href="~/collections/@gallery.Slug">
                        <div class="card card-hoverable paper blue-grey lighten-4 gallery-card">
                            <div class="card-image">
                                <img src="@gallery.CoverImagePath">
                            </div>
                        </div>
                        <div class="center-align">
                            <h6 class="font-shadows-into-light white-text">@gallery.Title</h6>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
    
</body>
</html>