@model GalleriesModel
@{ 
    bool topSectionWhite = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
    <link type="text/css" rel="stylesheet" href="~/themes/materialize/plugins/lightgallary/css/lightgallery.css" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-raleway white-text">Our Collections</h4>
                </div>
            </div>
            <div class="row" id="gallery-container">
                @for (int index = 0; index < Model.Galleries.Count; index++)
                {
                    Gallery gallery = Model.Galleries[index];
                    <div class="col s12 m6 l6" style="margin-top: 1em;">
                        <a title="@gallery.Title" href="~/collections/@gallery.Slug">
                            <div class="card">
                                <div class="card-image">
                                    @{ var imgPath = "https://aajoaihlwo.cloudimg.io/v7/https://www.parksandwils.com/" + gallery.CoverImagePath + "?h=360&w=640&gravity=auto"; }
                                    <div class="img-wrap">
                                        <div class="overlay"></div>
                                        @if (index < 4)
                                        {
                                            <img src="@imgPath">
                                        }
                                        else
                                        {
                                            <img loading="lazy" src="@imgPath">
                                        }
                                    </div>
                                    <span class="card-title card-img-title-center font-raleway">@gallery.Title</span>
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>
        <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
    
</body>
</html>