@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card card-hoverable">
                        <div class="card-content">
                            <div class="center-align" style="min-height: 250px;">
                                <h4 class="font-shadows-into-light">Coming Soon!</h4>
                                <h5 class="grey-text text-darken-3 lighten-3 font-amatic">
                                    We are currently lost somewhere in Glacier National Park!
                                </h5>
                                <h5 class="grey-text text-darken-3 lighten-3 font-amatic">
                                    Be back soon!
                                </h5>
                                <img class="responsive-img" src="~/themes/materialize/images/mcdonaldLakeGlacier.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>