@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body>

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="~/themes/materialize/images/canoeBanff.JPG" />
            </div>
        </div>

        <div class="section white">
            <div class="row container center-align">
                <h4>ADVENTURE</h4>
                <h5 class="grey-text text-darken-3 lighten-3">This is a story about walking away from societal expectations and chasing dreams.  </h5>
                <div class="col s12 m6 l6">
                    <img class="responsive-img circle" src="~/themes/materialize/images/Jess.jpg" />
                    <p class="flow-text major-mono">JWiLs</p>
                </div>
                <div class="col s12 m6 l6">
                    <img class="responsive-img circle" src="~/themes/materialize/images/Parker.jpg" />
                    <p class="flow-text major-mono">PaRKs</p>
                </div>
            </div>
        </div>

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>