@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <h2>test test test yea yea yea </h2>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
</body>
</html>