@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card card-hoverable">
                    <div class="card-content">
                        @Html.Raw(Model.Post.Content)
                    </div>
                </div>
            </div>
        </div>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
</body>
</html>