@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />
    
    <main>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/van6.jpg" />
            </div>
        </div>

        <div class="section white">
            <div class="wp1 row container">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-shadows-into-light black-text">Our Van</h4>
                    <h5 class="grey-text text-darken-3 lighten-3 font-amatic">2015 Dodge Promaster 2500</h5>
                </div>
                <div class="col s12 m12 l12">
                    <p class="font-raleway">
                        When Parker and I started searching for a cargo van to turn into a camper for us to live in we did tons of research. We visited numerous vans, some at small mom and pop dealerships, some privately owned, a few that we were serious enough about to have a pre purchase inspection on.  We finally found a 2015 Ram Promaster 2500 (159” wheelbase) with around 84,000 miles on it at a Ford dealership. We fell in love and pulled the trigger! We preferred Promasters over the Mercedes Sprinter and Ford Transits because we believed they were more reliable and cheaper/easier to have maintenance done if needed. Though we did have to replace the engine after putting 600 miles on it... but that’s another story.
                    </p>
                    <p class="font-raleway">
                        We found Dave and Matt Vans, a small conversion company, after months of daily Craigslist searches for pre-converted vans and realized they could quickly build us exactly what we wanted for “the best bang-for-our-buck.”
                    </p>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/van3.jpg" />
            </div>
        </div>

        <div class="wp4 section white-text">
            <div class="row container">
                <div class="col s12 m12 l12">
                    <span class="font-raleway">
                        Our Build:
                    </span>
                    <blockquote class="font-raleway" style="border-color: white; font-style: italic">
                        Spray foam insulation <br />
                        Beetlekill pine wood paneling <br />
                        Hardwood floors <br />
                        Two MaxxFan deluxe roof vents <br />
                        Two T-vent windows <br />
                        LED dimmable lights <br />
                        Custom memory foam mattress <br />
                        Kitchenette with full sink and electric water pump <br />
                        Dometic freezer/refrigerator <br />
                        200 watts of solar with 200ah battery 
                    </blockquote>
                </div>
            </div>
            <div class="wp7 row container">
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/VanBuildTwo.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/VanBuildOne.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/vanDMConvert.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container">
                <div class="col s12 m12 l12">
                    <p class="font-raleway">
                        Dave and Matt Vans did amazing work and we highly recommend them if you’re looking for a Promaster van conversion. 
                        Check out their website using this link and let them know we sent you :)
                    </p>                    
                </div>
            </div>
        </div>
        <div class="section white">
            <div class="wp8 row container">
                <div class="col s12 m12 l12">
                    <a href="https://www.dmvans.com" title="Dave & Matt Vans" target="_blank">
                        <img style="margin-left: auto; margin-right: auto; display: block;" loading="lazy" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/DMVansLogo.jpg" class="responsive-img" alt="Dave and Matt Vans" />
                    </a>
                </div>
                <div class="col s12 m12 l12">
                    <hr />
                    <p class="font-raleway">
                        We also wanted to add some additional cabinetry, benches and separate the “garage” from the “living room” of the van so we drove
                        the van to Tennessee to take advantage of Mike Caskey’s wood working skills, tools, and some lake days of course.
                    </p>
                    <p class="font-raleway">
                        Mike Caskey built us the most beautiful cabinets with shaker doors to go above our kitchenette.
                        We put in additional LED lights under the cabinets and we found these
                        <a class="white=text" title="Cabinet struts on Amazon"
                           href="https://smile.amazon.com/gp/product/B00KCR704U/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1"
                           target="_blank">struts on Amazon</a>
                    to keep the cabinet doors up while we’re using them.
                    </p>
                </div>
            </div>
            <div class="wp9 row container">
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" loading="lazy" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/JessDrilling.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" loading="lazy" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/ParkerDrilling.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" loading="lazy" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/JessPainting.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="wp10 row container">
                <div class="col s12 m12 l12">                    
                    <p class="font-raleway">
                        We also used the struts in our bench to keep it open as well. 
                        Jamie custom made us these awesome cushions to perfectly fit the benches.
                    </p>
                </div>
            </div>
            <div class="row container">
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" loading="lazy" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/OurVan/VanCabinets.jpg">
                        </div>
                    </div>
                </div>                
            </div>
            <div class="wp6 row container">
                <div class="col s12 m12 l12">
                    <p class="font-raleway">
                        Mike pieced together an old table to make our sliding table which we drilled a platform for into our bed frame. We ended up adding a double roller catch to prevent it from sliding out when we go down any hills or make stops. We decided to use chalk paint to paint it gray to match the rest of our decor.
                    </p>
                    <p class="font-raleway">
                        We attached boards for the wall and Voila! I was curious if the extra cabinets and benches were going to make our space feel smaller but it actually doesn’t at all. It feels more organized, cozy and complete.
                    </p>
                    <p class="font-raleway">
                        The last thing we did was install an aftermarket cruise control system. It was simple to install only requiring one soldered connection and connecting some wire harnesses. Such a game changer! We could not image driving thousands of miles without it!
                    </p>
                </div>
            </div>
        </div>
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>