@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />
    
    <main>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="~/themes/materialize/images/van6.jpg" />
            </div>
        </div>

        <div class="section white">
            <div class="row container">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-marker black-text">Our Van</h4>
                    <h5 class="grey-text text-darken-3 lighten-3 font-amatic">2015 Dodge Promaster 2500</h5>
                </div>
                <div class="col s12 m12 l12">
                    <p>
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                    </p>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="~/themes/materialize/images/van3.jpg" />
            </div>
        </div>

        <div class="section">
            <div class="row container">
                <div class="col s12 m12 l12">
                    <p>
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                    </p>
                </div>
            </div>
            <div class="row container">
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="~/themes/materialize/images/van7.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="~/themes/materialize/images/van7.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-hoverale">
                        <div class="card-image">
                            <img class="responsive-img" src="~/themes/materialize/images/van7.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container">
                <div class="col s12 m12 l12">
                    <p>
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                        Here is some information about our van. Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.Here is some information about our van.
                    </p>
                </div>
            </div>
        </div>

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>