@model PostModel
@{ 
    bool topSectionWhite = true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-raleway white-text">Our Videos</h4>
                </div>
            </div>
            <div class="row container center-align">
                <a class="waves-effect waves-light btn font-raleway" title="Visit Our YouTube Channel" href="https://www.youtube.com/channel/UCvvYRmVC0_VZdsyJj0Ldapw" target="_blank">Visit Our YouTube Channel</a>
            </div>
            <div class="row">
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YlD3Cs4GNsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mI8tyc_6EhE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/73NObUjD4qk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                @*<div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nGEi9C-JIgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>*@
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/tvQovWX8Cow" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/MfsaQw_kDlg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                @*<div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/Avc54gXI0v0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/H6KoNtXCnYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/Euo0Rmv5nvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/KB2CYet6hz0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/fLWBsE1gARQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="youtube-responsive" style="margin-top: 1em;">
                <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/eYr_zOysWhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>*@
            </div>
            <div class="row" style="padding-top: 10px;">
                <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />
            </div>
        </div>
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

</body>
</html>