@page
@model App.Pages.Admin.Gallery.EditModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit";
}

<style>
    .bf-settings-sidebar li {
        font-size: .875rem;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        padding: .5rem 0;
    }
</style>
<div class="bf-main">
    <div class="bf-sidebar d-lg-block" style="display: block;">
        <div class="bf-settings-sidebar">
            <ul class="bf-settings-sidebar-nav" style="text-align: center;">
                <li>Galleries</li>
                <li>
                    <button class="btn btn-primary btn-sm btn-main" type="button" title="Back" onclick="returnToCollections();">Back</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="bf-body">
        <div class="container" style="padding: 2rem 1rem 0;">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                    <h4>@Model.Gallery.Title</h4>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                    <button class="btn btn-primary btn-sm btn-main btn-rounded" type="button" title="Add Image" onclick="openFileMgr();">Add Image</button>
                </div>
            </div>
        </div>        
        <div id="galleryImageList" class=" bf-posts-grid d-flex" aria-label="collections">
            
            @*List populated by galleryController.js*@
        </div>
    </div>
</div>

@*<div class="modal fade" id="dlgImage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="hdrSettings">Add Image</h4>
                <button type="button" class="close ml-2" title="Close" data-placement="bottom" data-tooltip data-dismiss="modal" aria-label="@Localizer["close"]">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="settings-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>*@

<partial name="~/Pages/Admin/Shared/_FileMgr.cshtml" />

@section Scripts{
    <script src="~/admin/js/lib/jquery.validate.min.js"></script>
    <script src="~/admin/js/lib/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/js/app//fileManagerController.js"></script>
    <script src="~/admin/js/app/galleryEditController.js"></script>
    <script>
        var openAddImage = function () {
            //$('#frmCollection').validate().resetForm();
            $('#dlgImage').modal();
            return false;
        }

        var returnToCollections = function () {
            window.location = window.location.origin + '/admin/gallery';
        };
        
        //$('#frmCollection').validate({
        //    rules: {
        //        txtTitle: {
        //            required: true
        //        }
        //    }
        //});
        galleryEditController.load(1);
    </script>
}