@*Meta Tags*@
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="@Html.Raw(Model.Blog.Description)">
<meta name="viewport" content="width=device-width, initial-scale=1">

@*Bootstrap CSS*@ 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

@*Fonts*@
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">

<link href="~/themes/powder/css/style.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/lib/img/favicon.ico">

<title>@Html.Raw(Model.Blog.Title)</title>