/*
    Font Helpers
*/
.font-marker {
    font-family: 'Permanent Marker', cursive;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
}

.font-jose {
    font-family: 'Josefin Sans', sans-serif;
}

.font-major-mono {
    font-family: 'Major Mono Display', monospace;
}

.font-shadows-into-light {
    font-family: 'Shadows Into Light', cursive;
}

.font-raleway {
    font-family: 'Raleway', sans-serif, cursive;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*nav ul a,
nav .brand-logo {
    color: #444;
}*/

p {
    line-height: 2rem;
}

.parallax-container {
    min-height: 250px;
    line-height: 0;
    /*height: auto;*/
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}

.foot-icon {
    font-size: 2em;
    margin-left: .5em;
    margin-right: .5em;
    color: white;
}

#map {
    height: 100%;
    max-height: 250px;
}

#logo-container {
    font-size: 2.25rem;
}

.sidenav li > a {
    color: white;
}

blockquote {
    border-left: 5px solid #00acc1;
}

#pw-logo-desktop {
    height: 32px;
    vertical-align: middle;
    margin-left: 1.5em;
    margin-bottom: 10px;
}

#pw-logo-mobile {
    height: 26px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

#pw-logo-tablet {
    height: 32px;
    vertical-align: middle;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 10px;
    margin-top: 14px;
}

.card .card-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#post-content {
    padding-top: 0px;
}

#post-content img {
    max-width: 100%;
    height: auto
}

#post-card-content {
    margin-bottom: 0px; 
    padding-bottom: 0px;
}

#map {
    max-height: 350px;
    height: 100%;
    min-height:200px;
}

.footer-logo {
    max-height: 24px;
}


.paper {
    background: #fff;
    padding: 10px;
    position: relative;
}

.paper,
.paper::before,
.paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #A9A9A9;
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee;
}

.paper::before {
    right: 6px;
    top: -4px;
    transform: rotate(-1deg);
    z-index: -1;
}

.paper::after {
    top: 10px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
}

